{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
        <div class="mx-auto divide-y divide-gray-200 w-10/12 md:w-3/5 xl:w-1/4 overflow-hidden rounded-lg my-4 bg-white shadow">
            <div class="px-4 py-3 text-center sm:px-6">
                Votre structure
            </div>
            <div class="text-center py-4">
                <h3 class="text-sm font-medium text-gray-900">{{ structure.address }}</h3>
                {#                            {% if active %}#}
                {#                            <span class="inline-block flex-shrink-0 rounded-full bg-green-100 px-2 py-0.5 text-xs font-medium text-green-800">Actif</span>#}
                {#                            {% else %}#}
                {#                            <span class="inline-block flex-shrink-0 rounded-full bg-red-400 px-2 py-0.5 text-xs font-medium text-green-800">Inactif</span>#}
                {#                            {% endif %}#}
                <span class="text-sm text-gray-500">{{ structure.email }}</span>
            </div>
        </div>

        <div class="mx-auto divide-y divide-gray-200 w-10/12 md:w-3/5 xl:w-1/4 overflow-hidden rounded-lg my-4 bg-white shadow">
            <div class="px-4 py-3 text-center sm:px-6">
                Vos permissions
            </div>

            {% if permission is empty %}
                <div class="text-center p-4"><span class="text-red-400">Aucune permission disponible pour cette structure</span></div>
                {{ form_start(form) }}
                {% for perm in form.permissions %}
                {{ form_widget(perm, {'attr': {'class': 'hidden'}}) }}
                {% endfor %}
                {{ form_end(form) }}
            {% else %}
            {{ form_start(form) }}
            <div class="px-4 py-5 sm:p-6 grid grid-cols-3 gap-x-2 items-center max-rows-max">
                {% for perm in form.permissions %}
                    <div class="col-start-1 justify-self-end self-center">
                        {% if user.roles is same as ['ROLE_ADMIN'] %}
                            {{ form_widget(perm, {'attr': {'class': 'rounded-full bg-green-100 text-green-800'}}) }}
                        {% else %}
                            {{ form_widget(perm, {'attr': {'class': 'rounded-full bg-green-100 text-green-800 disabled:text-green-800/70', 'disabled': 'disabled'}}) }}
                        {% endif %}
                    </div>
                    <span class="col-start-2 col-span-2 self-end">{{ form_label(perm) }}</span>
                {% endfor %}
            </div>
            {% if user.roles is same as ['ROLE_ADMIN'] %}
                <div class="text-center border-t">
                    <button type="submit" class="p-3 w-full hover:bg-green-600 hover:text-white">
                        Sauvegarder les modifications
                    </button>
                </div>
            {% endif %}
            {% endif %}
            </div>
             {{ form_end(form) }}
{% endblock %}
