{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="flex w-full items-center justify-around py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-3/4 grid grid-cols-6 gap-x-10 auto-rows-max">
        {% for user in users %}
        <div class="col-span-3 my-4 divide-y divide-gray-200 rounded-lg bg-white shadow">
            <div class="flex space-x-6 p-6">
                <div class="flex-1 truncate">
                    <div class="flex items-center space-x-2">
                        <div class="ml-1 form-check form-switch">
                            <label for="{{ user.id }}" class="truncate text-sm font-medium text-amber-900">{{ user.name }}</label>
                            <input id="{{ user.id }}" class="form-check-input" type="checkbox" role="switch">
                        </div>
{#                            {% if  %}#}
{#                            <span class="inline-block flex-shrink-0 rounded-full bg-green-100 px-2 py-0.5 text-xs font-medium text-green-800">Actif</span>#}
{#                            {% else %}#}
{#                            <span class="inline-block flex-shrink-0 rounded-full bg-red-400 px-2 py-0.5 text-xs font-medium text-green-800">Inactif</span>#}
{#                            {% endif %}#}
                    </div>
                    <span class="mt-1 truncate text-sm text-gray-500">
                        Vous disposez de structures
                    </span>
                </div>
            </div>

            <div class="flex justify-center w-full">
                <a href="{{ path('compte', {'name': user.name}) }}" class="py-4 text-sm font-medium text-gray-700 hover:text-gray-500">
                   Voir les détails
                </a>
            </div>

        </div>
        {% endfor %}
        </div>
    </div>

    <div class="flex justify-center">
        <a href="{{ path("register_user") }}" class="p-4 rounded-md bg-blue-800 text-white">Ajouter un partenaire</a>
    </div>
{% endblock %}
