{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    <div class="flex w-10/12 justify-center space-x-4 items-center mx-auto mt-4">
        <div class="sidebar-search block md:w-1/8">
            <div class="input-group custom-search-form">
                <input type="text" id="search" class="form-control rounded-md border-none" placeholder="Recherche...">
            </div>
        </div>

        <fieldset class="md:flex space-x-4">
            <div class="flex items-center ml-4">
                <input id="active" type="radio" name="filter" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="active" class="ml-1 text-sm font-medium text-gray-700">Actif</label>
            </div>

            <div class="flex items-center">
                <input id="inactive" type="radio" name="filter" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="inactive" class="ml-1 text-sm font-medium text-gray-700">Inactif</label>
            </div>

            <div class="flex items-center">
                <input id="all" type="radio" name="filter" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="all" class="ml-1 text-sm font-medium text-gray-700">Tout</label>
            </div>
        </fieldset>
    </div>

    <div class="flex w-full items-center justify-around py-12 px-4 sm:px-6 lg:px-8">
        <div id="result" class="w-10/12 grid md:grid-cols-6 xl:grid-cols-9 gap-x-10 auto-rows-max">
        {% for user in users %}
        <div class="col-span-3 my-4 divide-y divide-gray-200 rounded-lg bg-white shadow">
            <div class="flex space-x-6 p-6">
                <div class="flex-1 truncate">
                    <div class="flex items-center space-x-2">
                        <span id="{{ user.id }}" class="truncate text-sm font-medium text-amber-900">{{ user.name }}</span>
                            {% if user.isActive == true %}
                            <span class="inline-block flex-shrink-0 rounded-full bg-green-100 px-2 py-0.5 text-xs font-medium text-green-800">Actif</span>
                            {% else %}
                            <span class="inline-block flex-shrink-0 rounded-full bg-red-400 px-2 py-0.5 text-xs font-medium text-red-800">Inactif</span>
                            {% endif %}
                    </div>
                    <span class="mt-1 truncate text-sm text-gray-500">
                        Vous disposez de {{ user.structures|length }} structures
                    </span>
                </div>
            </div>

            <div class="flex justify-center w-full">
                <a href="{{ path('compte', {'name': user.name}) }}" class="py-4 text-sm font-medium text-gray-700 hover:text-gray-500">
                   Voir les détails
                </a>
            </div>

        </div>
        {% endfor %}
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        $('#all').click(function (){
            const data = [];
            data.push({
                'value': $('#all').val(),
            });
            const jsonString = JSON.stringify({data: data});
            $.ajax({
                type: "GET",
                url: "{{ path('admin') }}",
                data: 'data='+ jsonString,
                complete: function(html) {
                    $('#result').replaceWith(
                        $(html.responseText).find('#result')
                    );
                }
            });
        });

        $('#active').click(function (){
            const data = [];
            data.push({
                'value': $('#active').val(),
            });
            const jsonString = JSON.stringify({data: data});
            $.ajax({
                type: "POST",
                url: "{{ path('active') }}",
                data: 'data='+ jsonString,
                complete: function(html) {
                    $('#result').replaceWith(
                        $(html.responseText).find('#result')
                    );
                }
            });
        });

        $('#inactive').click(function (){
            const data = [];
            data.push({
                'value': $('#inactive').val(),
            });
            const jsonString = JSON.stringify({data: data});
            $.ajax({
                type: "POST",
                url: "{{ path('inactive') }}",
                data: 'data='+ jsonString,
                complete: function(html) {
                    $('#result').replaceWith(
                        $(html.responseText).find('#result')
                    );
                }
            });
        });

        $('#search').keyup(function (){
            const data = [];
            data.push({
                'value': $('#search').val(),
            });
            const jsonString = JSON.stringify({data: data});
            $.ajax({
                type: "POST",
                url: "{{ path('admin') }}",
                data: 'data='+ jsonString,
                complete: function(html) {
                    $('#result').replaceWith(
                        $(html.responseText).find('#result')
                    );
                }
            });
        });
    </script>
{% endblock %}
