<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="{{ asset('styles/app.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>


    <body class="bg-slate-300/100 shrink-1">
        <header>
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="flex md:h-16 px-4 justify-center">
                    <div class="flex">
                        <div class="sm:flex sm:space-x-8 space-y-1 md:space-y-0 mt-4 space-x-4">
                            {% if app.user %}
                                {% if user.roles == ['ROLE_ADMIN'] %}
                            <a href="{{ path('admin') }}" class="inline-flex items-center pl-3 text-sm font-medium text-gray-500 hover:text-gray-700">Dashboard</a>
                            <a href="{{ path('register_user') }}" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700">Ajouter un partenaire</a>
                            <a href="{{ path('register_structure') }}" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700">Ajouter une structure</a>
                                {% endif %}
                                <a href="{{ path('deconnexion') }}" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700">Déconnexion</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="h-full">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="w-full bottom-0">
            <div class="mx-auto max-w-7xl overflow-hidden py-12 px-4 sm:px-6 lg:px-8">
                <p class="mt-8 text-center text-base text-gray-600">&copy; 2022 Haltère Égo. Tous droits réservés.</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>

</html>
