{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="mx-auto mt-4 w-10/12 md:w-3/5 xl:w-2/5 divide-y divide-gray-200 rounded-md bg-white">
        <div class="py-4 text-center">
            Vos structures
        </div>
        <div class="mx-auto px-4 grid grid-cols-3 lg:grid-cols-6 gap-x-10 auto-rows-max">
            {% for structure in structures %}
            <div class="col-span-3 my-4 divide-y divide-gray-200 rounded-lg bg-white shadow">
                <div class="flex space-x-6 p-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-2">
                            <div class="ml-1 form-check form-switch">
                                <label for="{{ structure.id }}" class="truncate text-sm font-medium text-amber-900">{{ structure.address }}</label>
                                <input id="{{ structure.id }}" class="form-check-input" type="checkbox" role="switch"
                                {% if user.roles == ['ROLE_USER'] %}
                                        disabled
                                {% endif %}
                                >
                            </div>
                            {#                            {% if active %}#}
                            {#                            <span class="inline-block flex-shrink-0 rounded-full bg-green-100 px-2 py-0.5 text-xs font-medium text-green-800">Actif</span>#}
                            {#                            {% else %}#}
                            {#                            <span class="inline-block flex-shrink-0 rounded-full bg-red-400 px-2 py-0.5 text-xs font-medium text-green-800">Inactif</span>#}
                            {#                            {% endif %}#}
                        </div>
{#                                <p class="mt-1 truncate text-sm text-gray-500">Regional Paradigm Technician</p>#}
                        </div>
                </div>

                    <div class="flex justify-center w-full">
                        <a href="{{ path('structure', {'name': franchise.name, 'id': structure.id}) }}" class="py-4 text-sm font-medium text-gray-700 hover:text-gray-500">
                            Voir les détails
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mx-auto divide-y divide-gray-200 w-10/12 sm:w-3/5 lg:w-1/2 xl:w-1/4 overflow-hidden rounded-lg my-4 bg-white shadow">
        <div class="px-4 py-3 text-center sm:px-6">
            Vos permissions
        </div>
        {{ form_start(form) }}
        <div class="px-4 py-5 sm:p-6 grid grid-cols-3 gap-x-2 max-rows-max">
            {% for perm in form.permissions %}

            <div class="col-start-1 justify-self-end form-check form-switch">
                {{ form_widget(perm, {'attr': {'class': 'form-check-input'}}) }}
            </div>
            <span class="col-start-2 col-span-2 justify-self-start">{{ form_label(perm) }}</span>
            {% endfor %}
{#                <span class="col-start-1 justify-self-end">{{ permission.name }}</span>#}
{#                <div class="col-start-2 form-check form-switch">#}
{#                    <label for="switch" class="sr-only">Activer</label>#}
{#                    <input class="form-check-input " type="checkbox" role="switch" id="switch"#}
{#                    {% if permission.isActive == true %}#}
{#                        checked#}
{#                    {% endif %}#}
{#                    {% if user.roles != ['ROLE_ADMIN'] %}#}
{#                        disabled#}
{#                    {% endif %}>#}
{#                </div>#}
        </div>
        <div class="text-center border-t">
            <button type="submit" class="p-3 w-full hover:bg-green-600 hover:text-white">
                Sauvegarder les modifications
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
