{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="mx-auto mt-4 w-10/12 md:w-3/5 xl:w-2/5 divide-y divide-gray-200 rounded-md bg-white">
        <div class="py-4 text-center">
            Vos structures
        </div>
        <div class="mx-auto px-4 grid grid-cols-3 lg:grid-cols-6 gap-x-10 auto-rows-max">
            {% for structure in structures %}
            <div class="col-span-3 my-4 divide-y divide-gray-200 rounded-lg bg-white shadow">
                <div class="flex space-x-6 p-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-2">
                            <span for="{{ structure.id }}" class="truncate text-sm font-medium text-amber-900">{{ structure.address }}</span>
                            {% if structure.isActive %}
                                <span class="inline-block flex-shrink-0 rounded-full bg-green-100 px-2 py-0.5 text-xs font-medium text-green-800">Actif</span>
                            {% else %}
                                <span class="inline-block flex-shrink-0 rounded-full bg-red-400 px-2 py-0.5 text-xs font-medium text-red-800">Inactif</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                    <div class="flex justify-center w-full">
                        <a href="{{ path('structure', {'name': franchise.name, 'id': structure.id}) }}" class="py-4 text-sm font-medium text-gray-700 hover:text-gray-500">
                            Voir les détails
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mx-auto divide-y divide-gray-200 w-10/12 sm:w-3/5 lg:w-1/2 xl:w-1/4 overflow-hidden rounded-lg my-4 bg-white shadow">
        <div class="px-4 py-3 text-center sm:px-6">
            Vos permissions
        </div>

            {% if franchise.isIsActive == false %}
                <div class="text-center p-4"><span class="text-red-400">Aucune permission disponible pour cette structure</span></div>
                {{ form_start(permissions_form) }}
                    {% for perm in permissions_form.permissions %}
                        {{ form_widget(perm, {'attr': {'class': 'hidden'}}) }}
                    {% endfor %}
                {{ form_end(permissions_form) }}
            {% else %}
            {{ form_start(permissions_form, {'attr': {'role': 'form', 'onsubmit': 'return confirm("Êtes-vous sûr de vouloir effectuer cette modification ?")'}}) }}
            <div class="px-4 py-5 sm:p-6 grid grid-cols-4 md:grid-cols-3 gap-x-2 items-center max-rows-max">
                {% for perm in permissions_form.permissions %}
                <div class="col-start-1 justify-self-end self-center">
                    {% if user.roles is same as ['ROLE_ADMIN'] %}
                        {{ form_widget(perm, {'attr': {'class': 'rounded-full bg-green-100 text-green-800'}}) }}
                    {% else %}
                        {{ form_widget(perm, {'attr': {'class': 'rounded-full bg-green-100 text-green-800 disabled:text-green-800/70', 'disabled': 'disabled'}}) }}
                    {% endif %}
                </div>
                <span class="col-start-2 col-span-3 md:col-span-2 self-end">{{ form_label(perm) }}</span>
                {% endfor %}
            </div>
            {% if user.roles is same as ['ROLE_ADMIN'] %}
                <div class="text-center border-t">
                    <button type="submit" class="p-3 w-full hover:bg-green-600 hover:text-white">
                        Sauvegarder les modifications
                    </button>
                </div>
            {% endif %}
    {{ form_end(permissions_form) }}
    {% endif %}
    </div>

    <div class="mx-auto divide-y divide-border-200 w-10/12 sm:w-3/5 lg:w-1/2 xl:w-1/4 text-center overflow-hidden rounded-lg my-4 bg-white shadow">
        {% if franchise.isIsActive == true %}
            <div class="px-4 py-3 text-center sm:px-6">
                Votre franchise est <span class="text-green-700 font-bold">active</span>
            </div>
            {% if user.roles is same as ['ROLE_ADMIN'] %}
                {{ form_start(activate_form, {'attr': {'role': 'form', 'onsubmit': 'return confirm("Êtes-vous sûr de vouloir effectuer cette modification ?")'}}) }}
                    <div id="true" class="text-center">
                        {{ form_widget(activate_form.activated, {'label': 'Désactiver la franchise', 'attr': {'class': 'p-3 w-full hover:bg-red-600 hover:text-white'}}) }}
                    </div>
                {{ form_end(activate_form) }}
            {% endif %}
        {% else %}
            <div class="px-4 py-3 text-center sm:px-6">
                Votre franchise est <span class="text-red-700 font-bold">inactive</span>
            </div>
            {% if user.roles is same as ['ROLE_ADMIN'] %}
                {{ form_start(activate_form, {'attr': {'role': 'form', 'onsubmit': 'return confirm("Êtes-vous sûr de vouloir effectuer cette modification ?")'}}) }}
                    <div id="false" class="text-center">
                        {{ form_widget(activate_form.activated, {'label': 'Activer la franchise', 'attr': {'class': 'p-3 w-full hover:bg-green-600 hover:text-white'}}) }}
                    </div>
                {{ form_end(activate_form) }}
            {% endif %}
        {% endif %}

    </div>
{% endblock %}


